*.class
*.log
.DS_Store
# project
BasicExample/project/project/target/*
BasicExample/project/target/*
BasicExample/target/*
BasicExample/.idea/
BasicExample/.bsp/
# ScalaScraper
ScalaScraper/app/.idea/
ScalaScraper/app/.bsp/
# TravelApi
TravelApi/.idea
TravelApi/project/target
TravelApi/project/project/
TravelApi/target/
# ScalaPostgre
ScalaPostgre/project/*
ScalaPostgre/target/*
ScalaPostgre/.idea/
ScalaPostgre/target/streams/*
# CRMAPI
CRMApI/.idea
CRMApI/target/scala-2.13/classes/*
CRMApI/project/project/target/*
CRMApI/project/target/config-classes/*

urlShortener/.idea/
urlShortener/.idea/*
urlShortener/target/
urlShortener/target/*

CRMApI/target/streams/