*.class
*.log
.DS_Store
# project
BasicExample/project/project/target/*
BasicExample/project/target/*
BasicExample/target/*
BasicExample/.idea/
BasicExample/.bsp/
# ScalaScraper
ScalaScraper/app/.idea/
ScalaScraper/app/.bsp/
# TravelApi
TravelApi/.idea
TravelApi/project/target
TravelApi/project/project/
TravelApi/target/
# ScalaPostgre
ScalaPostgre/project/*
ScalaPostgre/target/*
ScalaPostgre/.idea/
ScalaPostgre/target/streams/*
# CRMAPI
CRMApI/.idea
CRMApI/target/scala-2.13/classes/*
CRMApI/project/project/target/*
CRMApI/project/target/config-classes/*
# urlShortener
urlShortener/.idea/
urlShortener/.idea/*
urlShortener/target/
urlShortener/target/*
urlShortener/project/target/config-classes/*
urlShortener/project/target/config-classes
urlShortener/project/target/config-classes/*.cache
urlShortener/project/target/streams
urlShortener/project/target/streams/*
urlShortener/project/target
urlShortener/project/target/*
urlShortener/project/target/scala-2.12/sbt-1.0/update
# CRMApI
CRMApI/target/streams/
# playRESTApi1
playRESTApi1/.idea
playRESTApi1/project
playRESTApi1/docs/target
playRESTApi1/gatling
playRESTApi1/target